%h2 List of all Users
%ul.wide.no_bullets
  - @profiles.each do |p|
    %li.wide
      - if p.user_id == current_user.id
        = link_to image_tag("iconics/star.png", :class => "icon", :alt => "your profile"), profile_path(p)
      - else
        = link_to image_tag("iconics/magnify.png", :class => "icon", :alt => "view details"), profile_path(p)
      
      / Magic Star Rating thing Raty: 
      %span.big_star_rating

      = link_to p.name, profile_path(p)





/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"

/ This function has to be called AFTER the JS assests have been loaded!!
%script{:type => "text/javascript", :charset => "utf-8"}
  $(function() {
  $('.big_star_rating').raty({
  cancel:   false,
  cancelOff:  'cancel-off-big.png',
  cancelOn: 'cancel-on-big.png',
  half:   true,
  size:   24,
  starOff:  'star-off-big.png',
  starOn:   'star-on-big.png',
  starHalf: 'star-half-big.png'
  });
  });

