%h2 List of all Users
%ul.wide.no_bullets
  - @profiles.each do |p|
    %li.wide
      - if p.user_id == current_user.id
        = link_to image_tag("iconics/star.png", :class => "icon", :alt => "your profile"), profile_path(p)
      - else
        = link_to image_tag("iconics/magnify.png", :class => "icon", :alt => "view details"), profile_path(p)

      / Magic Star Rating thing Raty:
      - avg_rating =  p.profile_ratings.average('rating') ? p.profile_ratings.average('rating').round : 0
      - user_rating = p.profile_ratings.find_by_user_id(current_user).rating || 0

      %span.big_star_read_only{ :avg_rating => avg_rating } avg_rating:
      %span.big_star_rating_direct{ :profile_id => p.id, :avg_rating => user_rating } your rating:
         
      = link_to p.name, profile_path(p)
