%h2 List of all Users
- toggle_text = @avg_rating_true ? "Average Ratings (click to toggle)" : "Your Ratings (click to toggle)"
= link_to toggle_text, profiles_path(:avg_rating_true => !@avg_rating_true)

%ul.wide.no_bullets
  - @profiles.each do |p|
    %li.wide
      - if p.user_id == current_user.id
        %span.font-l= link_to iconic(:cog), profile_path(p), :title => t('shared.nav.your_profile')
        / Magic Star Rating thing Raty:
        - if @avg_rating_true
          - rating = p.profile_ratings.average('rating') || 0
          %span.big_star_read_only{ :avg_rating => rating }
        - else
          %span.big_star_read_only{ :avg_rating => rating }

      - else
        %span.font-l= link_to iconic(:magnifying_glass), profile_path(p), :title => "view details"
        / Magic Star Rating thing Raty:
        - if @avg_rating_true
          - rating = p.profile_ratings.average('rating') || 0
          %span.big_star_read_only{ :avg_rating => rating }
        - else
          - rating = p.profile_ratings.find_by_user_id(current_user) ? p.profile_ratings.find_by_user_id(current_user).rating : 0
          %span.big_star_rating_direct{ :profile_id => p.id, :avg_rating => rating }
           
      = link_to p.name, profile_path(p)
