log/*.log
log/*.pid
log/*.*
tmp/*
public/stylesheets/*.css
mkmf.log
config/*.yml
.ackrc
.sass-cache
vendor/bundle
.rvmrc
.bundle
db/*.sqlite3
*.log
log/*.log
tmp/
doc/
*.swp
*~
*/*~
*/*/*~
*/*/*/*~
.project
.DS_Store

