%div
  - if user_signed_in?
    = link_to image_tag("iconics/settings.png", :size => "32x32", :alt => "settings"), edit_user_registration_path
  - else
    = link_to image_tag("iconics/invite.png", :size => "32x32", :alt => "register!"), new_user_registration_path

