= render 'event_rating_vertical'

.vertical-spacer
  = render 'event'

.vertical-spacer
  %span.font-xl= link_to iconic(:chat), home_path  #FIXME (25)
  %span= link_to "Comment on this event (25)", home_path  #FIXME (25)
  