- p = @profile_rating.profile
- avg_rating = p.profile_ratings.average('rating') ? p.profile_ratings.average('rating').round : 0      

%h2= "avg_rating of " + p.name 

%span.big_star_rating_direct{ :profile_id => params[:profile_id], :pr_id => @profile_rating.id, :avg_rating => avg_rating }
