%h2 Create new rating

- if params[:profile_id] != current_user.profile.id
  %span.big_star_rating_direct{ :profile_id => params[:profile_id], :avg_rating => 0 }
- else
  You can not push your own rating.