%h2 Create new rating

- profile_id = params[:profile_id]
/ - avg_rating = p.profile_ratings.average('rating') ? p.profile_ratings.average('rating').round : 0
= form_for(@profile_rating, :url => "/profiles/#{profile_id}/profile_ratings", :profile_id => profile_id, :html => {:method => :post} ) do |f|
  %span.big_star_rating{ :profile_id => profile_id, :avg_rating => 0 }
  = f.submit
