/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


nav {
  width: 240px;
  height: 400px;
  padding: 20px;
  margin: 10px;
  float: left;
  background-color: #ccddee;
}

body {
  padding: 10px;
}

.header {
  width: 80%;
  border: 2px dotted;
  padding: 10px;
}

.footer {
  width: 80%;
  height: 80px;
  padding: 10px;
  clear: both;
  background-color: #eeccaa;
  border: 2px dotted;
}

.flash {
  font-size: 1.2em;
  width: 60%;
  height: 25px;
  border: 3px;
  padding: 10px;
}

.notice {
  background-color: #aaeecc;
}

.alert {
  background-color: #ffaaaa;
}

